html,
body,
.font-basic * {
  font-size: 14px;
}
p {
  text-align: center;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: #32354e;
}
h1,
.h1,
.footer_phone {
  font-size: 3rem !important;
}
h2 {
  font-size: 2.4rem !important;
  font-weight: 700 !important;
}
.gross_btn.new-button {
  width: 280px;
}
h3,
.h3 {
  font-size: 1.4rem;
}
.default-text {
  color: #32354e;
}
.default-text:hover {
  color: #333;
}
.bolder {
  font-weight: bold;
}
.form-block {
  width: 100%;
}

.main-bg_onhov:hover .number-card {
  color: #fff !important;
}

.position-loan-give-foto img,
.position-loan-give-foto-two img {
  width: auto;
  max-width: none;
  display: inherit;
}

header {
  top: 0;
}
.navbar {
  background: #fff;
}
.first_screen_list img {
  width: 45px;
  height: 45px;
  margin-right: 30px;
}
.first_screen_list p {
  margin-bottom: auto;
  margin-top: auto;
  text-align: left;
}
a.not_link_style {
  color: inherit !important;
  border-bottom: inherit;
}

/* order steps */
.give-loan-rotat,
.give-loan-rotat *,
.user-table,
.user-table * {
  transform: none;
}
.user-table {
  top: 0;
  padding: 15px;
  margin-top: -30px;
}
.user-table * {
  height: 100%;
  top: 0;
}
.foto-one-load-give img {
  right: 41px;
  z-index: inherit;
}
.logo {
  height: auto;
}
.footer-logo {
  margin: 0;
  text-align: center;
  width: 220px;
  height: 100%;
}
.footer-logo p {
  text-align: left;
  color: inherit;

  margin-top: 10px;
  font-size: 16px;
  line-height: 20px;
}
.bottom-contact {
  z-index: auto;
}
.footer {
  background-color: #f2f2f2;
  padding-bottom: 0;
}
.subfooter {
  background-color: #d6dde7;
}
.footer a,
.footer .foot-rezhim,
.footer .footer-head,
.subfooter p {
  color: inherit;
}

.footer a.default_text {
  font-size: inherit;
  display: inline;
  color: #15008f !important;
}
.new-button {
  background-color: #e2003d;
  border-radius: 5px;
  -webkit-box-shadow: 4px 13px 46px -13px rgba(240, 43, 43, 1);
  -moz-box-shadow: 4px 13px 46px -13px rgba(240, 43, 43, 1);
  box-shadow: 4px 13px 46px -13px rgba(240, 43, 43, 1);
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: #fff !important;
  width: 200px;
  height: 54px;
  border: none;
}

.user ul li,
.auto ul li,
.document ul li {
  padding: 5px 0px;
}
.phone-number:hover,
footer a:hover,
header a:hover,
.location-name,
.auto ul li::before,
.user ul li::before,
.document ul li::before,
.footer .foot-phone {
  color: #15008f !important;
}
.footer .foot-phone:hover {
  color: #e2003d !important;
}
.nav-item:last-child {
  margin-right: 0;
  z-index: 100;
}
header a,
footer a,
header a:hover,
footer a:hover {
  border-bottom: 0;
  text-decoration: none;
}
.conditions-one-text img {
  max-width: 20px;
}
.full-contact-width {
  box-shadow: none;
}
.background-deepblue,
.give-loan-rotat,
.user-table,
.main-bg_onhov:hover,
.main-bg,
.calculator .noUi-connect {
  background: rgb(0, 23, 145);
  background: linear-gradient(
    90deg,
    rgba(0, 23, 145, 1) 0%,
    rgba(0, 27, 171, 1) 100%
  );
}

#faq_accordion p,
#faq_accordion h3 {
  margin-bottom: 0;
  text-align: center;
}
.footer .footer-icon:hover {
  opacity: 1;
}
.footer .footer-icon:hover img:first-child {
  display: none;
}
.footer .footer-icon:hover img:last-child {
  display: inline-block !important;
}

.uk-open > .uk-accordion-title::before {
  background-image: url(/wp-content/themes/al_theme/css/images/arrow_loan_give.svg);
  transition: all 0.2s;
  margin-top: 6px;
  height: 20px;
  width: 20px;
  background-size: 100%;
}
.uk-open > .uk-accordion-title.collapsed::before {
  transform: rotate(180deg);
}

.subtitle {
  font-size: 18px !important;
  text-align: center;
  margin: 1.5rem auto 2.5rem;
}
.uk-accordion li .uk-accordion-content p,
.conditions-two-text,
.conditions-3-text {
  font-size: 14px;
}
.conditions-one-text,
.conditions-two-text,
.conditions-3-text {
  color: inherit;
}

.nav-item {
  position: relative;
}
.phone-number + span {
  margin-top: -7px;
  font-size: 16px;
  opacity: 0.4;
  text-align: center;
  display: block;
}
.arrow-load-give {
  transform: rotate(-90deg);
}
label.control {
  display: inline-block !important;
}
.bluecar {
  /* top: 130px; */
  top: 50px;
  max-width: 50%;
  max-height: 450px;
}
.form-output {
  margin-top: 0;
  top: 0;
  position: static;
}
.form-calculator__label-text {
  font-style: normal;
}
.form-calculator {
  /* margin-top: 85px; */
  width: auto;
}
.calculator .custom-calculator-output {
  margin-top: 0;
  padding-top: 0;
}
.form-calculator__label-text {
  margin: 0;
  top: 0;
}
.form-calculator__input {
  margin: 0;
}
.form-calculator__label-text,
.calculator .noUi-target {
  position: static !important;
}
.noUi-horizontal {
  margin: 20px 0;
}
.form-calculator__price {
  margin-bottom: 0;
}
.uslov_list img {
  height: 25px;
  width: 25px;
  margin-right: 10px;
}
.uslov_list p {
  text-align: left;
}
section {
  margin-top: 50px;
  /* margin-bottom: 50px; */
}
.bg-f2 {
  background-color: #f2f2f2;
  padding: 40px 0;
}
.bg-f2 + .bg-f2 {
  margin-top: 0;
  padding-top: 20px;
}
.background-deepblue + .bg-f2 {
  margin-top: 0;
}
.bg-f2 + .background-deepblue {
  margin-top: 0;
  padding-top: 20px;
}
.navbar-nav {
  position: relative;
}
.nav-link,
.location-name {
  font-size: 18px;
}
.nav-item {
  margin-right: 20px;
}
.phone-number {
  font-size: 22px;
}

@media (max-width: 1279px) {
  .nav-link,
  .phone-number,
  .location-name {
    font-size: 16px;
  }
  .nav-item {
    margin-right: 20px;
  }
}
@media (max-width: 1180px) {
  .nav-link,
  .phone-number,
  .location-name {
    font-size: 14px;
  }
  .logo {
    width: 130px;
  }
  .nav-item .new-button {
    width: 160px;
  }
  .phone-number + span {
    font-size: 12px;
  }
}
.nav-link.phone-number {
  margin-top: -20px;
  opacity: 1;
}
.user ul li,
.auto ul li,
.document ul li {
  font-size: 14px;
}

.give-loan-rotat {
  height: 300px;
}
.text-with-foto p {
  color: #fff;
}

.main-block {
  min-height: 500px;
}
.location-name::after {
  content: none;
}
.calculator {
  margin-top: inherit;
}

#quizForm form {
  max-width: 500px;
  margin: 0 auto;
}

.form-output {
  width: 100%;
  height: 100%;
}
.form-line-right {
  font-size: 26px;
  line-height: 36px;
}
.form-line-left {
  padding-top: 0;
  line-height: 36px;
}

.form-output__content {
  max-width: none;
}
.cities {
  column-gap: 3em;
  columns: 4 auto;
}
.cities div {
  display: inline-block;
  width: 100%;
}
.cities p {
  text-align: left;
}
.cities a {
  color: inherit;
}
.main-bg_onhov {
  z-index: 1;
}
.main-bg_onhov:hover {
  z-index: 2;
}
@media (max-width: 450px) {
  section {
    padding: 0 10px;
  }
  .bg-f2 {
    padding: 40px 10px;
  }
  h1,
  .h1 {
    font-size: 2.5rem !important;
  }
  .footer_phone {
    font-size: 2rem !important;
  }
  .first_screen_list img {
    margin-right: 20px;
  }
}
.mobile_phone {
  display: none;
}
.first_screen_list {
  height: 60px;
}
.text-calc * {
  color: #4e5c69;
}
.text-calc a {
  color: #15008f;
}
.text-calc a:hover {
  text-decoration: none;
  color: #e2003d;
}
.text-calc .control input:checked ~ .control_indicator,
.text-calc .control input ~ .control_indicator {
  background: #f2f2f2;
}
#calculator .text-calc * {
  line-height: 1;
}
.form-calculator__label-text {
  font-size: 18px;
  line-height: 24px;
}
.text-lightcolor p,
.text-lightcolor li {
  color: #6a6a6a;
}

@media (max-width: 991px) {
  .under-input-wrapper {
    margin-top: -10px;
    padding-top: 0;
  }
  .arrow-load-give {
    display: none;
  }
  .nomber-give-loan,
  .text-give-loan {
    left: auto;
  }
  .nomber-give-loan {
    margin-right: 10px;
  }
  .nav-item {
    width: 100%;
    text-align: center;
  }
  .nav-item > .new-button {
    margin: 2rem auto;
  }
  .phone-number {
    align-items: center;
  }
  .phone-number + span {
    position: static;
  }
  .fst_screen_img {
    display: none;
  }
}
.slick-arrow {
  background-image: url(/wp-content/themes/al_theme/css/images/arrow_loan_give.svg);
  transition: all 0.2s;
  margin-top: 6px;
  height: 20px;
  width: 20px;
  background-size: 100%;
  background-repeat: no-repeat;
  font-size: 0;
  background-color: transparent;
  position: absolute;
  z-index: 99;
  top: 50%;
}
.slick-arrow.slick-disabled {
  opacity: 0;
}
.slick-prev {
  transform: rotate(90deg);
  left: 35px;
}
.slick-next {
  right: 35px;
  left: auto;
  transform: rotate(-90deg);
}
.slick-slide {
  margin-top: -30px;
  padding-top: 50px;
  top: auto;
}
.slick-slide img {
  top: auto;
  width: auto;
}
.slick-slide .user-table {
  margin-top: 20px;
}
.slick_advantages .img-block img {
  margin: 0 auto;
}

.calc_term_custom,
.calc_payment_custom {
  margin-top: 0 !important;
}
@media (max-width: 768px) {
  .cities {
    column-gap: 3em;
    columns: 3 auto;
  }
  h2 {
    font-size: 2.2rem !important;
  }
  .form-line-left {
    line-height: 22px;
  }
  .form-line {
    display: flex;
  }
}
@media (max-width: 536px) {
  .cities {
    column-gap: 3em;
    columns: 2 auto;
  }
  .navbar-toggler {
    right: auto;
  }
  .mobile_phone {
    display: block;
    position: absolute;
    right: 15px;
    top: 25px;
    font-weight: bold;
  }
  .mobile_phone a {
    font-size: 16px;
    color: #e2003d;
  }
}
.uk-accordion li li {
  border: none;
}

.text-section ul,
.uk-open ul {
  margin: 20px auto;
  max-width: 500px;
  width: 100%;
}
.uk-open p {
  max-width: 992px;
  margin: 0 auto;
}
.nowrap {
  white-space: nowrap;
}
.callback-bubble {
  animation: pulse 3s infinite;
  right: 30px;
  bottom: 30px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.callback-bubble:not(.active) svg:last-child {
  display: none;
}
.callback-bubble.active svg:first-child {
  display: none;
}
.callback-popover {
  right: 20px;
  bottom: 120px;
  border-radius: 20px;
}

@media (max-width: 450px) {
  .callback-popover {
    margin: 0 30px;
    right: auto;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(28, 103, 174, 0.4);
  }
  40% {
    -webkit-box-shadow: 0 0 0 30px rgba(28, 103, 1745, 0.4);
  }
  80% {
    -webkit-box-shadow: 0 0 0 1px rgba(28, 103, 174, 0.3);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(28, 103, 174, 0);
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(28, 103, 174, 0.1);
    box-shadow: 0 0 0 0 rgba(28, 103, 174, 0.1);
  }
  40% {
    -moz-box-shadow: 0 0 0 30px rgba(28, 103, 174, 0.4);
    box-shadow: 0 0 0 30px rgba(28, 103, 174, 0.4);
  }
  80% {
    -moz-box-shadow: 0 0 0 1px rgba(28, 103, 174, 0.3);
    box-shadow: 0 0 0 1px rgba(28, 103, 174, 0.3);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(28, 103, 174, 0);
    box-shadow: 0 0 0 0 rgba(28, 103, 174, 0);
  }
}
