p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333333;
}

.main-text {
  color: #3577b7 !important;
}
.main-border {
  border-color: #3577b7 !important;
}
.main-bg {
  background-color: #3577b7 !important;
}

.main-bg_onhov:hover {
  background-color: #3577b7 !important;
}

.default-text {
  color: #32354e;
}
.default-text:hover {
  color: #333;
}

.main-block {
  min-height: 500px;
}
.first_screen_list img {
  min-width: 45px;
  margin-right: 30px;
}
.first_screen_list p {
  margin-bottom: auto;
  margin-top: auto;
}
a.not_link_style {
  color: inherit !important;
  border-bottom: inherit;
}
