html,
body {
  font-size: 14px;
}
p {
  text-align: center;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333333;
}

.main-text {
  color: #3577b7 !important;
}
.main-border {
  border-color: #3577b7 !important;
}
.main-bg {
  background-color: #3577b7 !important;
}

.main-bg_onhov:hover {
  background-color: #3577b7 !important;
}

.default-text {
  color: #32354e;
}
.default-text:hover {
  color: #333;
}

.main-block {
  min-height: 500px;
}
.first_screen_list img {
  width: 45px;
  height: 45px;
  margin-right: 30px;
}
.first_screen_list p {
  margin-bottom: auto;
  margin-top: auto;
  text-align: left;
}
a.not_link_style {
  color: inherit !important;
  border-bottom: inherit;
}

/* order steps */
.give-loan-rotat,
.give-loan-rotat *,
.user-table,
.user-table * {
  transform: none;
}
.user-table {
  top: 0;
  padding: 15px;
  margin-top: -30px;
}
.user-table * {
  height: 100%;
  top: 0;
}
.foto-one-load-give img {
  right: 41px;
  z-index: inherit;
}
.logo {
  height: auto;
}
.footer-logo {
  text-align: center;
}

.bottom-contact {
  z-index: auto;
}
.footer {
  background-color: #f2f2f2;
}
.subfooter {
  background-color: #d6dde7;
}
.footer a,
.footer .foot-rezhim,
.footer .footer-head,
.subfooter p {
  color: inherit;
}

.bg-f2 {
  background-color: #f2f2f2;
}

.new-button {
  background-color: #e2003d;
  background: #f02b2b;
  border-radius: 5px;
  -webkit-box-shadow: 4px 13px 46px -13px rgba(240, 43, 43, 1);
  -moz-box-shadow: 4px 13px 46px -13px rgba(240, 43, 43, 1);
  box-shadow: 4px 13px 46px -13px rgba(240, 43, 43, 1);
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: #fff !important;
  width: 200px;
  height: 54px;
  border: none;
}
